.body {
  padding-top: 50px;
  margin: 20px
}

h3 {
  padding-bottom: 20px;
}

#about-me-photo {
  width: 50%;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}



#small-project-1 {
  background-image: url(../../../public/images/project-1-screenshot.png);
  height: 200px;
  margin: 15px
}

#small-project-2 {
  background-image: url(../../../public/images/project-2-screenshot.png);
  height: 200px;
  margin: 15px
}

#small-project-3 {
  background-image: url(../../../public/images/project-3-screenshot.png);
  height: 200px;
  margin: 15px
}

#small-project-4 {
  background-image: url(../../../public/images/project-4-screenshot.png);
  height: 200px;
  margin: 15px
}

#small-project-5 {
  background-image: url(../../../public/images/project-5-screenshot.png);
  height: 200px;
  margin: 15px
}

#small-project-6 {
  background-image: url(../../../public/images/project-6-screenshot.png);
  height: 200px;
  margin: 15px
}

.overlay {
  display: block;
  margin-top: 160px;
  background: rgb(255, 255, 240, .75);
  color: #3B4140;
  font-size: 150%;
  border: 2px solid transparent;
}

.overlay:hover {
  filter: saturate(.4);
  cursor: pointer;
  border: 2px solid lightgray;
}

article a {
  background-size: cover;
  border: 2px solid transparent;
}

#proficiency-col {
  padding: 0 10% 0 10%;
}

.proficiency {
  text-align: center;
  width: 75%;
}